# ignore corpus
cacm/
pa1-data/

# virtualenv
bin/
lib/
pyvenv.cfg
venv/

# miscellaneous
.DS_Store

# cache
__pycache__
*/**/*.pyc
*.pyc

# ide / editor
.vscode/


# project subject
Projet_2017_2018.pdf

# pytest
pytest_cache/

pip-selfcheck.json

documents_dict.txt
pa1-inv-index.txt
